.publications {
	text-align: justify;
}

.publications span.undefined {
	color:red;
}
.publications .bibtable {
	table-layout:fixed;
	margin: 0 auto;
	clear: both;
	border: 0px solid white;
    vertical-align: top;
}
.publications .clear {
	clear:both;
}
.publications .year {
	position: relative;
	height: 100%;
	border-bottom: 1px solid black;
	display: inline-block;
}
.publications .yearlabel {
	position: absolute;
	bottom: -20px;
	text-align: center;
	font-size: smaller;
}
.publications .pub { 
	border: 1px solid white;
	background-color: #eee;

 }
.publications .inproceedings { 
	background-color: #196ca3;
 }
.publications .article { 
	background-color: #c32b72;
 }
.publications .book { 
	background-color: #f8c91f;
 }
.publications .inbook { 
	background-color: #33c3ba;
 }
.publications .incollection { 
	background-color: #33c3ba;
 }
.publications .phdthesis { 
	background-color: #999;
 }
.publications .unpublished { 
	background-color: #eae;
 }
.publications .mastersthesis { 
	background-color: #eea;
 }
.publications .techreport { 
	background-color: #b77;
 }
.publications  .misc {
	background-color: #000000; 
 }
.publications .legend .pub {

	width: 10px;

	height: 10px;
	display: inline-block;

	margin: 0 5px 0 15px;

}
.publications .legend {

	margin-bottom: 20px;
	text-align: center;
/*
	width: 100%;
*/
}
.publications .pubi { 

	border: 1px solid white;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0 5px 0 0px;
}
.publications table.display thead th { 
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}


.publications table.display tfoot th {
	padding: 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}
.publications table.display td {
	border: 0px solid white;
    vertical-align: top;
	background-color: #FFFFFF;
	padding: 3px 10px;
	font-family: Arial,sans-serif !important;
	font-size: 0.875em;
    line-height: 1.55em;
    font-family: Arial,sans-serif;
    color: #333;
}
.publications table.display td:nth-child(1) {
    width: 80px;
}
.publications table.display td:nth-child(2) {
    width: 50px;
}
.publications table.display td:nth-child(3) {
    width: auto;
	text-align: justify;
}

	
.publications table.display td.center { 
	text-align: center;
	
}
.publications .sorting_asc { 
	background: url('assets/bibtex/lib/images/sort_asc.png') no-repeat center right;
}
.publications .sorting_desc { 
	background: url('assets/bibtex/lib/images/sort_desc.png') no-repeat center right;
}
.publications .sorting { 
	background: url('assets/bibtex/lib/images/sort_both.png') no-repeat center right;
}
.publications .sorting_asc_disabled { 
	background: url('assets/bibtex/lib/images/sort_asc_disabled.png') no-repeat center right;
}
.publications .sorting_desc_disabled { 
	background: url('assets/bibtex/lib/images/sort_desc_disabled.png') no-repeat center right;
}
.publications tr { 
	vertical-align: top;
}
.publications tr.odd { 
	background-color: white;
}
.publications tr.even { 
	background-color: white;
}
.publications div.hidden { 
	display: none;
}
.publications div.bibinfo { 
	position: fixed;
	top: 100px;
	left: 10%;
	background-color: #bbb;

	border: 3px solid #fff;

	padding: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;

	z-index: 50;
}
.publications #shutter { 
	background-color: #555;
	opacity: 0.7;
	width:100%;
	height: 100%;
	position: fixed;
	top: 0;
	left:0;
	z-index: 20;
}
.publications a.bibclose { 
	background-color: #BBBBBB;
	border: 3px solid #FFFFFF;
	color: black;
	float: left;
	font-size: 20px;
	height: 35px;
	left: -25px;
	line-height: 20px;

	padding: 3px;

	position: relative;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	top: -25px;
	
	width: 35px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	border-radius:15px;

}
.publications div.bibinfo pre { 
	clear:both;
	background-color: #BBBBBB;
	padding:0;
	padding-left: 2em;
}

.publications .dataTables_wrapper table thead{
	display:none;
}

/*
.publications table.display {
font-family: Georgia, Serif, Verdana, Geneva, sans-serif !important;
}
*/

.publications a:link {
    color: #0000AA;
	text-decoration: none;
}

.publications a:link {
    color: #0000AA;
	text-decoration: none;
	border-bottom: none;
}

.publications a:visited {
	color: #0000AA;
	text-decoration: none;
	border-bottom: none;
}
.publications a:hover {
	color: #0000FF;
	text-decoration: none;
	border-bottom: none;
}
.publications a:active {
	color: #0000AA;
	text-decoration: none;
	border-bottom: none;
}

.publications .entrytitle {
    font-weight: bold;
}

